KAFKA_BOOTSTRAP=kz1-a-4imecr5qharpgtra.mdb.yandexcloud.kz:9091,kz1-a-bofhfid3a249em6j.mdb.yandexcloud.kz:9091,kz1-a-u784bjjcplgo8elu.mdb.yandexcloud.kz:9091
KAFKA_USERNAME=<имя производителя>
KAFKA_PASSWORD=<пароль производителя>
KAFKA_CA=/usr/local/share/ca-certificates/Yandex/YandexInternalRootCA.crt

SCHEMA_REGISTRY_URL=https://<schema-registry-host>:443
KAFKA_TOPIC=events
KAFKA_CONSUMER_GROUP=test-consumer1
